.workspace-container {
  position: relative;
  background-color: white;
  display: flex;
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ws-container-2 {
  min-width: 70%;
  max-width: 70%;
  box-sizing: border-box;
}

.wstitle {
  position: relative;
  z-index: 1;
  display: flex;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 3%;
  margin-top: 0;
  justify-content: flex-start;
}

.workspace-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-height: 180px;
  height: 200px;
  box-sizing: border-box;
  flex: 0 0 auto;
  border: 1px solid #d9d9d6;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 2;
  margin-bottom: 3%;
}

.workspace-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-xl);
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
}

.workspace-title-input {
  font-size: var(--font-size-xl);
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
}

.workspace-title-input:focus {
  outline: none;
  border-radius: 3px;
  border: 2px solid #00205b;
}

.ws-title-container {
  display: flex;
  min-width: 100%;
  justify-content: flex-start;
}

.workspace-team {
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-size-sm);
  margin-right: 10px;
  margin-bottom: 10px;
}

.workspace-team p {
  margin: 0;
}

.workspace-team input:focus {
  outline: none;
  border-radius: 3px;
  border: 2px solid #00205b;
}

.workspace-more {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  z-index: 3;
  /* 추가: more 버튼에 z-index 설정 */
}

.workspace-menu {
  position: absolute;
  top: 40px;
  right: 0;
  width: 155px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  /* 수정: 더 높은 z-index 값 설정 */
}

.workspace-menu div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: var(--font-size-sm);
}

.workspace-menu p {
  margin: 0;
  margin-left: 1px;
}

.workspace-menu div:hover {
  background-color: #f2f2f2;
}

.workspace-scroll {
  display: flex;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
  flex-wrap: nowrap;
  align-items: center;
  gap: 50px;
  padding: 10px 0 10px 0;
  scrollbar-width: none;
  margin-left: 10px;
  margin-right: 10px;
  cursor: grab;
  user-select: none;
}

.workspace-scroll:active {
  cursor: grabbing;
}

.workspace-scroll::-webkit-scrollbar {
  display: none;
}

.workspace-scroll button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d6;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  width: 50px !important;
  height: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  cursor: pointer;
}
