.projectsummary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 16px;
  flex-grow: 1;
  background-color: white;
}

.projectsummary-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px;
  width: 80%;
  max-width: 600px;
  margin-top: 10px;
  padding: 10px;
  height: 100%;
  min-height: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.projectsummary-content {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 85%;
  flex-direction: column;
  padding: 5px 10px;
  gap: 5px;
}

.projectsummary-content div {
  margin: 10px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.projectsummary-content span {
  margin-left: 5px;
  font-size: var(--font-size-lg);
  font-weight: 400;
}
.projectsummary-content ul {
  margin: 5px 0;
  font-weight: 400;
}

.projectsummary-btn {
  display: flex;
  width: 100%;
  height: 15%;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.projectsummary-btn button {
  background-color: #fe5000;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
