.findid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.findid-box {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.findid-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 233px;
  height: 132px;
}

.findid-email-input {
  width: 100%;
  height: 40px;
  padding-left: 45px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  font-size: 15px;
}

.findid-clear-icon {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  height: 100%; /* 입력창 높이에 맞춤 */
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

/*아이디 찾기 버튼*/
.findid-section {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.findid-button {
  width: 120px;
  height: 50px;
  background-color: #00205b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}

.findid-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /*backdrop-filter: blur(3px);*/

  display: flex;
  justify-content: center;
  align-items: center;
}
.findid-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 320px;
  height: 150px;
  padding: 0;
  text-align: center;
  background-color: white; /*모달창 안 배경 적용*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.findid-modal-header {
  margin-top: -30px;
  height: 30px;
  background-color: #001f5b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.findid-modal-close-button {
  margin-top: 10px;
  background-color: #00205b;
  color: white;
  cursor: pointer;
}
.findid-input-wrapper {
  width: 100%;
  max-width: 600px;
}

.findemail-wrapper {
  position: relative; /*자기 자신을 기준으로 움직임*/
  width: 100%;
}
.findemail-icon-inside {
  position: absolute; /*부모 요소로 배치*/
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.findid-email-input {
  width: 100%;
  height: 40px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  font-size: 15px;
}
