.mainheader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
}
.signupheader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 50px 0 50px;
}
.mainwsheader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: var(--font-size-xl);
  background-color: #bbc9ec;
  width: 60px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.div-left {
  width: 60px;
  cursor: pointer;
}

.div-right {
  width: 60px;
}
